Flask
# python-vlc
requests
comtypes
langchain_core 
langchain_community 
langchain_groq 
SpeechRecognition 
pyttsx3 
yt-dlp 
python-vlc
PyAudio
gunicorn
# for linux install the following
# sudo apt install espeak-ng
# sudo apt-get install portaudio19-dev
